/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~typeface-roboto/index.css';
@import '~typeface-roboto-mono/index.css';
@import '~typeface-open-sans/index.css';
@import '../../resources/fonts.css';

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

.drag {
  -webkit-app-region: drag;
}

#root {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
